@page
<div class="container">
    @* 创建文本框和提交按钮 *@
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput"/></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput"/></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>
    @* 使用 id="messagesList" 创建一个列表，用于显示从 SignalR 中心接收的消息 *@
    <div class="row p-1">
        <div class="col-6">
            <hr/>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
@* 包含对 SignalR 的脚本引用 *@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>